---
const { title, author, readingTime } = Astro.props.frontmatter ?? Astro.props;
const { headings } = Astro.props; 

// import '../styles/global.css';
import RedWaveBackground from "../components/freebsd/RedWaveBackground.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} - CSARCH2 Virtual Exhibit</title>

<style is:global>
    @import "tailwindcss";
</style>
    </head>

    <body>
        <RedWaveBackground />
        <!-- Uncomment this for navigation  -->
        <nav>
            <span class='nav-title'>FreeBSD</span>
            <span class='nav-items'>
                <a href={`${baseUrl}/freebsd`}>Home</a>
                <a href={`${baseUrl}/freebsd/info-page`}>What is FreeBSD?</a>
                <a href={`${baseUrl}/freebsd/history-page`}>History</a>
                <a href={`${baseUrl}/freebsd/freebsd-vs-linux`}>FreeBSD vs Linux</a>
                <a href={`${baseUrl}/freebsd/cli`}>CLI</a>
                <a href={`${baseUrl}/freebsd/references`}>References</a>
            </span>
            <span class='nav-toggle'>
                ☰
            </span>
        </nav>
        <main>
            <slot />
        </main>  
    </body>
</html>